#conversejs .modal-dialog {
  width: 100%;
  max-width:none;
  height: 100%;
  margin: 0;
  padding: 0;
  max-height:none;
}

#conversejs .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

